{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Crear un Nuevo Mazo</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="custom-form-border">
        <form method="post" enctype="multipart/form-data" class="custom-form">
          {% csrf_token %}
          
          {% if form.errors %}
          <div class="alert alert-danger">
            <ul>
              {% for field, error_list in form.errors.items %}
              {% for error in error_list %}
              <li>{{ field }}: {{ error }}</li>
              {% endfor %}
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          
          <div class="form-group">
            <div class="class-buttons">
                {% for clase in clases %}
                <button type="button" class="btn btn-class{% if clase.name_class == form.clase_deck.value %} selected{% endif %}" data-class="{{ clase.name_class }}">
                    <img src="{{ clase.icon.url }}" alt="{{ clase.name_class }}" />
                </button>
                {% endfor %}
            </div>
            <input type="hidden" name="clase_deck" id="clase_deck" value="{{ form.clase_deck.value }}">
            <p></p>
        </div>        
          <div class="form-group">
            <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
            {{ form.nombre }}
          </div>
          <div class="form-group">
            <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
            {{ form.descripcion }}
          </div>
          <div class="form-group">
            <label for="{{ form.imagen.id_for_label }}">Imagen del Mazo:</label>
            {{ form.imagen }}
          </div>
          <button type="submit" class="btn btn-primary">Crear Mazo</button>
        </form>
      </div>
    </div>
  </div>
</div>
<style>

<style>
  /* Estilo para botones seleccionados */
  .btn-class.selected {
    background-color: #3498db; /* Cambia el color de fondo al seleccionar a un azul claro */
    border: 2px solid #3498db; /* Borde con el mismo color de fondo */
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s; /* Agrega transiciones suaves */
  }

  .btn-class.selected:active {
    transform: translateY(2px); /* Cambia ligeramente la posición al hacer clic */
    box-shadow: none; /* Elimina el sombreado al hacer clic */
  }

<style>
  /* Estilo para botones seleccionados */
  .btn-class.selected {
    background-color: #3498db; /* Cambia el color de fondo al seleccionar a un azul claro */
    border: 2px solid #3498db; /* Borde con el mismo color de fondo */
    padding: 5px 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s, transform 0.3s; /* Agrega transiciones suaves para el color de fondo y el efecto de botón pulsado */
  }

  .btn-class.selected:active {
    transform: translateY(2px); /* Cambia ligeramente la posición al hacer clic para el efecto de botón pulsado */
  }

<style>

/* Estilos para los botones */
.btn-class {
  background-color: #fff; /* Fondo blanco */
  margin-right: 5px;
  border: 1px solid #ccc; /* Borde gris */
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


  /* Estilo para botones seleccionados */
  .btn-class.selected {
    background-color: #3498db;
  }

  /* Estilo para botones no seleccionados al pasar el cursor sobre ellos */
  .btn-class:not(.selected):hover {
    background-color: #ddd;
  }

  /* Estilo para los botones de clase */
.class-buttons {
  display: flex; /* Utiliza un contenedor flexible */
  justify-content: space-between; /* Distribuye los botones de manera uniforme */
  margin-top: 10px; /* Margen superior para separar de otros elementos */
}


</style>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const classButtons = document.querySelectorAll('.btn-class');
    const claseDeckField = document.getElementById('clase_deck');

    classButtons.forEach(function(button) {
      button.addEventListener('click', function() {
        classButtons.forEach(function(btn) {
          btn.classList.remove('selected');
        });
        this.classList.add('selected');
        const selectedClass = this.getAttribute('data-class');
        claseDeckField.value = selectedClass;
      });
    });
  });
</script>
{% endblock %}
