{% extends 'base.html' %}

{% block content %}
<div class="class-buttons">
  <a href="?class=Todas" class="btn-class-lista-decks {% if not selected_class %}selected{% endif %}" data-class="Todas">Todas</a>
  {% for clase in clases %}
    <a href="?class={{ clase.name_class }}" class="btn-class-lista-decks {% if selected_class == clase.name_class %}selected{% endif %}" data-class="{{ clase.name_class }}">
      <img src="{{ clase.icon.url }}" alt="{{ clase.name_class }}" />
    </a>
  {% endfor %}
</div>

{% for deck in decks %}
  <div class="deck-wrapper" data-clase="{{ deck.clase_deck }}">
    <a href="{% url 'detalle_deck' deck.id %}" class="deck-item">
      <h3 class="deck-name">{{ deck.nombre }}</h3>
      <p class="deck-description">{{ deck.descripcion }}</p>
      <div class="deck-content">
        <img src="{{ deck.imagen.url }}" alt="{{ deck.nombre }}">
        <p class="publication-date">Fecha de Publicación: {{ deck.fecha_publicacion }}</p>
        <p>{{ deck.clase_deck }}</p>
      </div>
      <div class="download-button">
        <a href="{{ deck.imagen.url }}" download="{{ deck.nombre }}.jpg" class="download-btn">
          <span class="emoji">&#128190;</span> Descargar Imagen
        </a>
      </div>
    </a>
  </div>
{% endfor %}

<div class="pagination">
  <span class="step-links">
    {% if decks.has_previous %}
      <a href="?page=1{% if selected_class %}&class={{ selected_class }}{% endif %}">&laquo; primera</a>
      <a href="?page={{ decks.previous_page_number }}{% if selected_class %}&class={{ selected_class }}{% endif %}">anterior</a>
    {% endif %}
    <span class="current">
      Página {{ decks.number }} de {{ decks.paginator.num_pages }}.
    </span>
    {% if decks.has_next %}
      <a href="?page={{ decks.next_page_number }}{% if selected_class %}&class={{ selected_class }}{% endif %}">siguiente</a>
      <a href="?page={{ decks.paginator.num_pages }}{% if selected_class %}&class={{ selected_class }}{% endif %}">última &raquo;</a>
    {% endif %}
  </span>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const classButtons = document.querySelectorAll('.btn-class-lista-decks');
  const decks = document.querySelectorAll('.deck-wrapper');

  classButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
      event.preventDefault();  // Evita que el enlace se comporte normalmente

      const selectedClass = this.getAttribute('data-class');

      // Desmarca todos los botones primero
      classButtons.forEach(function(btn) {
        btn.classList.remove('selected');
      });

      // Marca el botón seleccionado
      this.classList.add('selected');

      // Aplica la lógica de mostrar/ocultar decks
      decks.forEach(function(deck) {
        const claseMazo = deck.getAttribute('data-clase');
        if (selectedClass === "Todas" || claseMazo === selectedClass) {
          deck.style.display = "block";
        } else {
          deck.style.display = "none";
        }
      });
    });
  });
});
</script>

<style>
  /* Estilos de los botones de clase */
  .btn-class-lista-decks {
    width: 120px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Fondo negro */
    color: #fff; /* Color del texto (blanco) */
    border: none; /* Sin bordes */
    border-radius: 10px; /* Bordes redondeados */
    margin-right: 10px;
    cursor: pointer;
  }

  .btn-class-lista-decks.selected {
    border: 2px solid #ffd700; /* Borde dorado para el botón seleccionado */
  }

  /* Estilos de paginación */
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #fff; /* Cambiado a blanco */
    transition: background-color 0.3s;
  }

  .pagination a:hover {
    background-color: #ddd;
    color: #333; /* Cambiado a negro al pasar el ratón */
  }

  .pagination .current {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }
</style>
{% endblock %}
