{% extends 'base.html' %}

{% block content %}
<div class="deck-list">
  {% for deck in decks %}
  <div class="deck-wrapper">
    <a href="{% url 'detalle_deck' deck.id %}" class="deck-item">
      <h3>{{ deck.nombre }}</h3>
      <p>{{ deck.descripcion }}</p>
      <img src="{{ deck.imagen.url }}" alt="{{ deck.nombre }}">
      
      <!-- Botón de descarga estilizado con emoticono de disquete -->
      <a href="{{ deck.imagen.url }}" download="{{ deck.nombre }}.jpg" class="download-btn">
        <span class="emoji">&#128190;</span> Descargar Imagen
      </a>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
